//variables
@primary-color: #012169;
@secondary-color: lighten(@primary-color, 40%);
@background-color: #f3f3f307;
@red-color: "red";
@Lightbluebg-color: #d3e0ff;
@greytext-color: rgb(243, 237, 237);
@line-height: 1.2em;
@body-font: 'Spectral', serif;
@title-font: 'Oswald', sans-serif;
@slogan-font: 'Roboto', sans-serif;
@header-font: 'Martel', serif;

body {
  font-family: @body-font;
  background: @background-color;
  line-height: @line-height;
  margin: 0;
}

.master-header {
  background-image: url("../images/banner4.jpg");
  opacity: 0.9;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
  height: 65vh;
}

/* first navbar with gradient, creating a theme from the blue color from Merril Lynch Bank of America

.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: white;
  background-image: linear-gradient(to bottom right, @primary-color, @secondary-color);
  background-color: @primary-color;
  padding: auto;
}
*/

.navbartwo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: white;
  // background-image: linear-gradient(to bottom right, @primary-color, @secondary-color);
  // background-color: #01206977;
  background-color: rgba(1, 32, 105, 0.63);
  padding: auto;
}

.logo {
  min-width: 0;
  margin: 5px;
}

.logoimg {
  width: 6em;
  max-width: 75%;
  max-height: 3.5em;
  margin-top: 1.75em;
  margin-left: .25em;

}

.devname {
  padding: 1%;
  color: @greytext-color;
  margin-top: 2.5em;
  margin-right: .25em;

}

//css to brand-title of the website
.header-title {
  display: flex;
  justify-content: center;
  letter-spacing: .12em;
  line-height: 1em;
  width: 45vw;

  p {
    width: 60%;
    font-size: .6em;
    text-align: center;
    color: @greytext-color;
    border-top: 4px double;
    border-bottom: 4px double;
    border-width: 4px, 0;
    padding: 1em 0em;

    span {
      letter-spacing: none;
      font-size: 2.85em;
      font-weight: bold;
      color: white;
      font-family: @title-font;
      line-height: 1.5em;
    }
  }
}
//css to slogan of website on the hero image
.slogan-statement {
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    text-align: center;
    color: white;
    font-size: 3em;
    width: 100%;
    padding-top: 15%;
    font-family: @slogan-font;
    font-weight: 700;
    letter-spacing: .05em;
    display: none;

    span {
      line-height: 4em;
      font-size: .4em;
      color: @greytext-color;
      display: none;
    }
  }
}

//css to groceries inventory section
.ginventory {
  border-style: solid;
  border-width: .1em;
  border-color: @primary-color;
  border-top: none;
  border-bottom: none;
  text-align: center;
  background-image: url(../images/titlebg.PNG);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

.inventory-title {
  background-color: rgba(1, 32, 105, 0.171);
  font-family: @header-font;
  font-size: 2.4em;
  font-weight: bold;
  color: white;
  height: 4vh;
  padding-top: 2%;

}

//css changes to chart div is made through jquery since using cavas.js library, adjusted opacity to dull down the chart colors.
.canvasjs-chart-container {
  opacity: .9;
}

//css to detailed inventory section
.detailed-inventory {
  border-style: solid;
  border-width: .1em;
  border-color: @primary-color;
  // border-top: none;
  background-image: url(../images/inventorybg.PNG);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

//button wrapper to keep all 6 buttons from categories in a row for 720p screens
.buttons-wrapper {
  display: flex;
  flex-flow: row nowrap;
  height: 6vh;
  background: rgba(1, 32, 105, 0.61);
  padding: 1%;

  button {
    margin-right: 1%;
    margin-left: 1%;
    width: 40%;
    height: 100%;
    border: solid;
    border-radius: 30%;
    // background-color: @Lightbluebg-color;
    display: flex;
    justify-content: center;
  }

  img {
    height: 100%;
    width: 30%;
  }

  p {
    font-size: 1.25em;
  }
}

//button styling was causing issues when using less to css nested elements from buttons-wrapper, for workaround styled buttons using class.
.btn {
  background-color: @Lightbluebg-color;
  color: black;
}

.btn-active {
  background-color: lighten(@primary-color, 45%);
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: lighten(@primary-color, 45%);
  color: white;
  font-weight: bold;
}

// css to cards section
.cards-main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
}

.card {
  width: 35%;
  height: 42vh;
  margin: 1%;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  // background-color: @Lightbluebg-color;
  opacity: .8;
  // background-image: url("../images/banner4.jpg");
  background-color: @Lightbluebg-color;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  border: solid;
  border-color: @Lightbluebg-color;
  box-shadow: 10px 10px 5px rgb(22, 22, 22);
}

//attempted to css the properties through nesting elements but did not work, not sure if was an issue with jquery dynamically generating the cards and Less compiler or some syntax issue.
.card-title {
  background-color: @Lightbluebg-color;
  color: black;
  // border-bottom: solid;
  text-align: center;
  height: 7vh;
  display: flex;
  justify-content: flex-start;

  img {
    height: 100%;
    width: 25%;
  }
}

.card-image {
  // border-bottom: solid;
  text-align: center;
  height: 25vh;

  img {
    height: 100%;
    width: 96%;
  }
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-type,
.card-brand,
.card-qty {
  height: 100%;
  background-color: @Lightbluebg-color;
  color: black;
  text-align: left;
  padding: 1%;
  padding-left: 3%;
  font-weight: bold;
}


//media queries for smaller screens
@media(max-width: 720px) {
  .master-header {
    height: 50vh;
  }

  .logo {
    max-width: 5%;
    margin-right: 10%;
  }

  .logoimg {
    min-width: 3.5em;
    max-width: 100%;
    margin-top: 1.5em;
  }

  .devname {
    font-size: .6em;
    margin-top: 3em;
    color: @greytext-color;

  }

  .header-title {
    width: 65vw;
    letter-spacing: .08em;
    
    p {
      width: 73%;
      margin-top: 6%;
      margin-bottom: 6%;
      font-size: .2em;

      span {
        font-size: 5em;
      }
    }
  }

  .slogan-statement {
    p {
      font-size: 1.3em;
      width: 100%;
      padding-top: 15%;

      span {
        line-height: 2em;
        font-size: .45em;
      }
    }
  }

  .inventory-title {
    font-size: 1.8em;
    padding-top: 3%;
    height: 4vh;
  }

  .buttons-wrapper {
    display: flex;
    flex-flow: column wrap;
    height: 18vh;

    button {
      height: 40%;
      width: 30%;
      margin: 1%;

      p {
        margin: 0;
        padding-top: 10%;
        font-size: 1.25em;
      }
    }
  }

  .card {
    width: 85%;
    height: 62vh;
    margin-top: 5%;
  }

  .card-title {
    h2 {
      margin-top: 4%;
    }

    img {
      height: 100%;
      width: 25%;
    }
  }

  .card-image {
    // border-bottom: solid;
    text-align: center;
    height: 40vh;
  }
}

//media queries for full sized screens
@media (min-width: 1200px) {
  .logo {
    margin-top: 2%;
  }

  .logoimg {
    width: 10em;
    max-height: 6em;
    margin-top: .5em;
    margin-left: .5em;
  }

  .devname {
    padding: 1%;
    color: @greytext-color;
    margin-top: 3%;
    font-size: 1.5em;
  }

  .header-title {
    line-height: 1.25em;

    p {
      width: 45%;
      margin: 2%;
      font-size: 1em;

      span {
        font-size: 2.25em;
      }
    }
  }

  .inventory-title {
    font-size: 2.5em;
    height: 3vh;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .slogan-statement {
    p {
      font-size: 4.0em;
      padding-top: 5%;

      span {
        line-height: 3em;
        font-size: .45em;
      }
    }
  }


  .inventory-title {
    font-size: 3em;
    padding-top: 1.5%;
  }

  .buttons-wrapper {
    height: 6vh;

    button {
      height: 90%;
      width: 40%;

      p {
        margin: 0;
        padding-top: 3%;
        font-size: 1.7em;
      }
    }
  }

  .card {
    width: 20%;
    height: 42vh;
  }
}