body {
  font-family: 'Spectral', serif;
  background: #f3f3f307;
  line-height: 1.2em;
  margin: 0;
}
.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: white;
  background-image: linear-gradient(to bottom right, #012169, #3975fd);
  padding: auto;
  margin: 0.5%;
}
.logo {
  min-width: 0;
  margin: 5px;
}
.logoimg {
  width: 6em;
  max-width: 100%;
  max-height: 5em;
  margin-top: 1em;
  margin-left: 0.25em;
}
.devname {
  padding: 1%;
  color: #ecdfdf;
  margin-top: 2.5em;
  margin-right: 0.25em;
}
.header-title {
  display: inline-flex;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 1em;
}
.header-title p {
  font-size: 0.7em;
  color: #ecdfdf;
  border-top: 4px double;
  border-bottom: 4px double;
  border-width: 4px, 0;
  padding: 1em 0em;
}
.header-title p span {
  letter-spacing: none;
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  font-family: 'Oswald', sans-serif;
  line-height: 1.5em;
}
.mission-statement {
  text-align: center;
  font-size: 1.5em;
  margin: 0.5%;
  padding: 1%;
}
.ginventory {
  margin: 0.5%;
}
.buttons-wrapper {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  margin: 0.5%;
}
.buttons-wrapper button {
  width: 40%;
  height: 40%;
}
.btn,
.primary-btn {
  padding: 10px 15px;
  border: 0;
  border-radius: 30px;
}
.primary-btn {
  background: #012169;
  color: #fff;
}
.bordered {
  border-top: dotted 1px #000;
  border-bottom: solid 2px #000;
}
@media (max-width: 720px) {
  .logo {
    max-width: 5%;
  }
  .logoimg {
    min-width: 3.5em;
    max-width: 100%;
    margin-top: 2.2em;
  }
  .devname {
    font-size: 0.8em;
    margin-top: 3.7em;
    color: #ecdfdf;
  }
  .header-title {
    margin-top: 3em;
    margin-left: 3em;
  }
  .header-title p {
    margin-top: -4em;
    font-size: 0.55em;
    border-top: 4px double;
  }
  .header-title p span {
    font-size: 2em;
    line-height: 2em;
  }
}
.card {
  border: solid;
  background-color: #8080bd;
}
