body {
  font-family: 'Spectral', serif;
  background: #f3f3f307;
  line-height: 1.2em;
  margin: 0;
}
.master-header {
  background-image: url("../images/banner4.jpg");
  opacity: 0.9;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
  height: 65vh;
}
/* first navbar with gradient
.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: white;
  background-image: linear-gradient(to bottom right, @primary-color, @secondary-color);
  background-color: @primary-color;
  padding: auto;
}
*/
.navbartwo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: white;
  background-color: rgba(1, 32, 105, 0.63);
  padding: auto;
}
.logo {
  min-width: 0;
  margin: 5px;
}
.logoimg {
  width: 6em;
  max-width: 100%;
  max-height: 5em;
  margin-top: 1em;
  margin-left: 0.25em;
}
.devname {
  padding: 1%;
  color: #f3eded;
  margin-top: 2.5em;
  margin-right: 0.25em;
}
.header-title {
  display: inline-flex;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 1em;
}
.header-title p {
  font-size: 0.7em;
  color: #f3eded;
  border-top: 4px double;
  border-bottom: 4px double;
  border-width: 4px, 0;
  padding: 1em 0em;
}
.header-title p span {
  letter-spacing: none;
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  font-family: 'Oswald', sans-serif;
  line-height: 1.5em;
}
.slogan-statement {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slogan-statement p {
  text-align: center;
  color: white;
  font-size: 3em;
  width: 100%;
  padding-top: 5%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  display: none;
}
.slogan-statement p span {
  line-height: 4em;
  font-size: 0.4em;
  color: #f3eded;
  display: none;
}
.buttons-wrapper {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}
.buttons-wrapper button {
  width: 40%;
  height: 40%;
}
.btn,
.primary-btn {
  padding: 10px 15px;
  border: 0;
  border-radius: 30px;
}
.primary-btn {
  background: #012169;
  color: #fff;
}
.bordered {
  border-top: dotted 1px #000;
  border-bottom: solid 2px #000;
}
.cards-main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
}
.cards-main .card {
  width: 25%;
  margin: 1%;
  padding-left: 2%;
}
.card {
  border: solid;
  background-color: #e8e8eb;
}
@media (max-width: 720px) {
  .master-header {
    height: 50vh;
  }
  .logo {
    max-width: 5%;
  }
  .logoimg {
    min-width: 3.5em;
    max-width: 100%;
    margin-top: 2.2em;
  }
  .devname {
    font-size: 0.8em;
    margin-top: 3.7em;
    color: #f3eded;
  }
  .header-title {
    margin-top: 3em;
    margin-left: 3em;
  }
  .header-title p {
    margin-top: -4em;
    font-size: 0.55em;
    border-top: 4px double;
  }
  .header-title p span {
    font-size: 2em;
    line-height: 2em;
  }
  .slogan-statement p {
    font-size: 1.2em;
    width: 100%;
    padding-top: 17%;
  }
  .slogan-statement p span {
    line-height: 3em;
    font-size: 0.55em;
  }
}
